@model AppClubes.ModelsView.ClubViewModel
@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family: 'Lato', sans-serif">Listado de equipos</h1>

<p>
    <a asp-action="Create">Cargar nuevo equipo</a>
</p>

<form asp-action="Index" method="get" style="">
    <p style="border: 1px black solid; padding: 5px">
        Filtros:<br />
        Nombre: <input type="text" name="buscarNombre" value="@Model.buscarNombre" />
        País: <input type="text" name="buscarPais" value="@Model.buscarPais" />
        Categoría: <select name="Categoriaid" asp-items="@Model.ListaCategorias">
            <option value="">Todas</option>
        </select>
        <input type="submit" value="Filtrar" class="btn btn-primary"/>
    </p>
</form>

<a asp-action="Exportar" style="color: darkblue;">Exportar listado a CSV</a>

<table class="table">
    <thead class="thead-dark">
        <tr class="justify-content-center" style="text-align: center; font-family: 'Roboto Slab', serif;">
            <th style="font-size: 1.5em; vertical-align: central">
                @Html.DisplayNameFor(model => model.ListaClubes[0].nombre)
            </th>
            <th style="font-size: 1.5em">
                @Html.DisplayNameFor(model => model.ListaClubes[0].resumen)
            </th>
            <th style="font-size: 1.3em">
                @Html.DisplayNameFor(model => model.ListaClubes[0].fechaFund)
            </th>
            <th style="font-size: 1.3em">
                @Html.DisplayNameFor(model => model.ListaClubes[0].imagenEscudo)
            </th>
            <th style="font-size: 1.5em">
                @Html.DisplayNameFor(model => model.ListaClubes[0].pais)
            </th>
            <th style="font-size: 1.5em">
                @Html.DisplayNameFor(model => model.ListaClubes[0].categoria)
            </th>
            <th style="font-size: 1.5em">
                Acciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background-color: aquamarine;">
        @foreach (var item in Model.ListaClubes)
        {
            <tr style="font-family: 'Lato', sans-serif;">
                <td style="font-size: 1.2em; font-weight: bold">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td style="font-size: 1.1em">
                    @Html.DisplayFor(modelItem => item.resumen)
                </td>
                <td style="font-size: 1.1em">
                    @Html.DisplayFor(modelItem => item.fechaFund.ToString("MM-dd-yyyy"))
                </td>
                <td style="text-align: center">
                    @if (!string.IsNullOrEmpty(item.imagenEscudo))
                    {
                        <img src="~/fotos/@item.imagenEscudo" style="max-width:50px" asp-append-version="true" />
                    }
                </td>
                <td style="font-size: 1.1em">
                    @Html.DisplayFor(modelItem => item.pais)
                </td>
                <td style="font-size: 1.1em">
                    @Html.DisplayFor(modelItem => item.categoria.descripcion)
                </td>
                <td style="font-size: 0.8em">
                    <a asp-action="Edit" asp-route-id="@item.id" style="color: darkblue;">
                        Editar
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.id" style="color: darkblue;">
                        Detalles
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.id" style="color: darkblue;">
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min .js"></script>
<script src="~/js//preview.js"></script>

<partial name="_paginador" for="@Model.paginador" />
